.cc navbar {
     background-color: rgba(0, 0, 0, 0.55);
     font-family:'Merriweather',serif;
     box-shadow: rgba(255,255,255,0.54);
 }
 .cc nav-bar .nav-link{
     border-botton 1px solid transparent;
     transition:padding-bottom .4s ease-in-out,border-color .3s ease;
 }


 .cc-navbar .nav-link hover{
     padding-bottom:20px;
     border-bottom-color: var(--bs teal);
 }

 .banner{
     background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url('gettyimages-157742535-612×612') center center fixed 
     no-repeat;
     background-size: cover;
     height:800px;
 }
 .banner .banner desc{
     font-size: 48px;
     font-weight: 400;
     color: azure;
 }
 .btn-order{
     color: var(--bs-teal);
     border-color:var(--bs-teal);
     transition: 0.5s;
 }

 
 .btn-order:hover,
 .btn-order:active,{
     color :rgba(255,255,255,0.54);
  } ;
     background-color:var(--bs-teal);