body
{
    background-image: url(eel.jpg);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   background-image: url(plage1.jpg);
}
.q
{
    float:right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
body
{
	text-align:center;
	background-color:white;
}
footer
{
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}
footer
{
	font-size:16px;
}

footer
{
    padding-bottom:4px;
}
figure
{
	display: inline-block;
}
center
{
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
}
center
{
	text-align:center;
}
.po
{
	width: 900px;
}	
div
{
	display: inline-block;
}